body {
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    line-height: 1.5;
    overflow-x: hidden;
}

button {
    font-family: 'Montserrat', sans-serif !important;
}

/************** Utility Classes **************/
.inline {
    display: inline;
}

.relative {
    position: relative;
} 

.absolute {
    position: absolute;
}

.cursorPointer {
    cursor: pointer !important;
}

.textWhite {
    color: white;
}

a {
    text-decoration: none !important;
}

.formInput {
    padding: 12px 8px;
    font-size: 14px;
    border: none;
    background: rgba(0,0,0,0.1);
    color: white;
    border-radius: 10px;
    letter-spacing: 1.5px;
}

.formInput:focus {
    outline: none !important;
}

h1, h2, h3, h4, h5, h6, p {
    margin: 0;
    color: #1D256E;
    cursor: default;
}

li {
    color: #1D256E !important;
}

.displayFlex {
    display: flex;
}

.justifiedFlex {
    display: flex;
    justify-content: space-between;
}

.alignCenter {
    align-items: center;
}

.w100 {
    width: 100%;
}

.h100 {
    height: 100%;
}

.textWrap {
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 50%;
    overflow: hidden;
}

.mb8 {
    margin-bottom: 8px !important;
}

.mb10 {
    margin-bottom: 10px !important;
}

.mb20 {
    margin-bottom: 20px !important;
}

.my10 {
    margin: 14px 0 !important;
}

.my20 { margin: 20px 0; }

.horizontalDivider {
    border-top: 1px solid rgba(29, 37, 110, 0.3);
    margin: 10px 0;
}

.bottomBorder {
    border-bottom: 1px solid rgba(29, 37, 110, 0.3);
}

.text-red {
    color: red;
}

.border {
    border: 1px solid rgba(29, 37, 110, 0.3);
    border-radius: 4px;
}


/**************** Input fields ****************/
.MuiFormLabel-root, .MuiInputBase-input, .MuiTypography-body1, .MuiCheckbox-colorPrimary.Mui-checked {
    color: #1D256E !important;
}

.MuiInput-underline:hover:not(.Mui-disabled):before {
    border-bottom: 1px solid rgba(29, 37, 110) !important;
}

.MuiInput-underline:before {
    border-bottom: 1px solid rgba(29, 37, 110) !important;
}

.MuiInput-underline:after {
    border-bottom: 0 !important;
}

/**************** Buttons ****************/
.MuiButton-outlined {
    border: 1px solid rgba(29, 37, 110, 0.3) !important;
    color: #1D256E !important;
}

.MuiButton-root {
    color: #1D256E !important;
}

.borderRadiusNone {
    border-radius: 0 !important;
}

.cancelBtn:hover {
    background-color: none !important;
}

/**************** Break Points ****************/
@media (max-width: 575.98px) {
    .justifiedFlex {
        flex-direction: column;
    }

    .rowDir {
        flex-direction: row !important;
    }
}