tr th:first-child {
    border-bottom-left-radius: 0.75rem;
}

tr th:last-child {
    border-bottom-right-radius: 0.75rem;
}

tbody {
    border-radius: 0.75rem;
}

.Pending {
    background-color: #ded3fc;
    color: #906cea;
}

.Delivered {
    background-color: #cbf5ec;
    color: #66d4c0;
}

.Canceled {
    background-color: #fcd7d5;
    color: #ed7970;
}
