$primaryColor: #1D256E;
$complimentaryColor: #ff7d2de0;

.products {
    display: grid !important;
    margin: 24px 0;
    grid-template-columns: repeat(auto-fill, minmax(220px,1fr));
    gap: 2rem;
}

/********************* PRODUCT CARD *********************/
.product-card {
    // border: 1px solid red;
    height: 370px;
    max-width: 220px;
    margin: auto;
    transition: box-shadow 0.2s ease-in-out;
}

// 0 2.8px 2.2px rgba(0, 0, 0, 0.034),
// 0 6.7px 5.3px rgba(0, 0, 0, 0.048),
// 0 12.5px 10px rgba(0, 0, 0, 0.06),
// 0 22.3px 17.9px rgba(0, 0, 0, 0.072),
// 0 41.8px 33.4px rgba(0, 0, 0, 0.086),
// 0 100px 80px rgba(0, 0, 0, 0.12)

.product-card:hover {
    box-shadow:
    0 2.8px 2.2px rgba(0, 0, 0, 0.034),
    0 6.7px 5.3px rgba(0, 0, 0, 0.048),
    0 12.5px 10px rgba(0, 0, 0, 0.06),
    // 0 22.3px 20.9px rgba(0, 0, 0, 0.072),
    0 22.8px 22.7px rgba(0, 0, 0, 0.086);
}

.product-info {
    height: 22%;
    line-height: 1.2 !important;
    color: $primaryColor;
}

.brand-info {
    padding: 8px 6px 4px 6px;
}

.img-container {
    height: 78%;
    overflow: hidden;
    // border-bottom: 1px solid $complimentaryColor;
}

.img-container img{
    width: 100%;
    height: 100%;
}

.brand-info > h4 {
    letter-spacing: 2px;
    margin: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    // padding: 8px 6px 4px 6px;
}

.brand-info > h4 > span {
    font-size: 12px;
    padding: 2px 8px;
    border: 0.5px solid $complimentaryColor;
    border-radius: 10px;
}

.brand-info span {
    font-size: 14px;
}

.price-info {
    margin-top: 6px;
}

.price-info h4,h6 {
    margin: 0;
    display: inline;
}

.originalPrice {
    font-weight: 400;
    text-decoration: line-through;
}

.discount {
    color: $complimentaryColor;
}

.product-imgs {
    height: 80vh;
    min-height: 400px;
}

.otherImgs {
    width: 15%;
    height: inherit;
    margin-right: 1%;
    overflow: auto;
}

.otherImgs::-webkit-scrollbar {
    display: none;
}

.mainImg-container {
    width: 70%;
    height: 80vh;
    overflow: hidden;
}

.mainImg {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform 0.3s;
}

.mainImg:hover {
    transform: scale(1.1);
}

.otherImgs img {
    width: 100%;
}

.faded {
    opacity: 0.8;
}

.horizontal-divider {
    border-top: 1px solid rgba(29, 37, 110, 0.3);
    margin: 10px 0;
}

.purchase-buttons {
    margin-top: 20px;
    position: sticky;
    bottom: 0;
    padding: 10px 0;
    display: block;
    background: white;
}

.addToCart {
    width: 58% !important;
    margin-right: 2% !important;
    padding: 14px !important;
    font-size: 18px !important;
    background: #FF7F2D !important;
    color: #1D256E !important;
    font-weight: 600 !important;
}
.addToWishlist {
    width: 40% !important;
    padding: 14px !important;
    font-size: 18px !important;
    color: #1D256E !important;
    border: 1px solid rgba(29, 37, 110, 0.3) !important;
}

/********************* RADIO BUTTON *********************/
.size-select input[type="radio"] {
    display: none;
}

.size-buttons {
    display: flex;
}

.size-buttons label {
    margin-right: 10px;
    width: 50px;
    height: 50px;
    border: 1px solid rgba(29, 37, 110, 0.3);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    color: $primaryColor;
    transition: border 0.3s;
}

.size-buttons label:hover {
    border: 1px solid rgba(29, 37, 110, 1);
}

/********************* SLIDE UP DIV *********************/
.hide-div {
    width: 100%;
    bottom: -41px;
    background-color: white;
    transition: all .2s ease-out;
}

.hide-div .MuiButton-outlined {
    padding: 3px 15px;
    border-radius: 0;
}

.product-card:hover .hide-div {
    bottom: 0;
}

.wishlist button {
    border: 1px solid rgba(29, 37, 110, 1);
    color: $primaryColor;
}

/********************* Break Points *********************/
@media(max-width: 640px) {
    .product-imgs,.otherImgs,.mainImg-container {
        height: 100%;
        max-height: 380px;
    }

    .otherImgs {
        width: 20%;
    }

    .mainImg-container {
        width: 79%;
    }

    .product-details {
        // margin-top: 20px;
    }

    .MuiBox-root-4 {
        margin-bottom: 0 !important;
    }
}


/********************* SLIDE UP DIV *********************/
// @media(max-width:1276px){
//     .products{
//         gap: 30px;
//     }
// }

// @media(max-width:1268px){
//     .products{
//         gap: 28px;
//     }
// }